<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480937139446-0vjb1jbp6k5qths2qhf382h3in721an9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480937139446-0vjb1jbp6k5qths2qhf382h3in721an9</string>
	<key>API_KEY</key>
	<string>AIzaSyDr35t7yYRccdRZ6YG94qxtRrkC1vpYtgM</string>
	<key>GCM_SENDER_ID</key>
	<string>480937139446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.primerproyecto</string>
	<key>PROJECT_ID</key>
	<string>prueba2-cf249</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba2-cf249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480937139446:ios:b15cb7be131dc1590ba0d7</string>
	<key>DATABASE_URL</key>
	<string>https://prueba2-cf249-default-rtdb.firebaseio.com</string>
</dict>
</plist>